<leaflet id="map" width="100%" height="100%" defaults="defaults" layers="layers" maxbounds="maxbounds" markers="markers"></leaflet>

<div id="layer-checkboxes">
    <ul>
        <li id="substructure" class="checkbox checkbox-primary checkbox-circle">
            <input id="substructure-checkbox" type="checkbox">
            <label for="substructure-checkbox">Substructure layer</label>
        </li>

        <li id="anomaly" class="checkbox checkbox-primary checkbox-circle">
            <input id="anomaly-checkbox" type="checkbox">
            <label for="anomaly-checkbox">Anomaly layer</label>
        </li>

        <li id="alert" class="checkbox checkbox-primary checkbox-circle">
            <input id="alert-checkbox" type="checkbox">
            <label for="alert-checkbox">Alert layer</label>
        </li>
    </ul>
</div>

<input id="slider-init">

<button id="time-lapse" type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off">
  Time Lapse
</button>


<div id="right-sidebar" class="col-sm-6 col-md-4 full-height">
    <p id="right-sidebar-title">Alert</p>

    <div id="chart1" class="right-sidebar-chart"></div>
    <p class="right-sidebar-info">Prediction of household development</p>

    <div id="chart2" class="right-sidebar-chart"></div>
    <p class="right-sidebar-info">Prediction of population density growth</p>
</div>
